.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;

  max-width: 420px;
  padding: 8px;
  margin: auto;
}

.action {
  display: grid;
  gap: 14px;
  width: 100%;
}
